@import url(global/global.css);

body{
    background-color: #121725;
    position: relative;
    overflow: hidden;
    font-family: 'Chivo';
}

.logo{
    background-color: #121725;
    height: 150px;
    width: 100%;
    position: relative;
}

.logo img{
    position: absolute;
    top: 65px;
    left: 200px;
}

.img-corpo{
    position: absolute;
    left: 680px;
    top: 85px;
}

.img-corpo img{
    max-height: 450px;
    min-width: 680px;
}

.conteudo{
    position: absolute;
    left: 220px;
    top: 160px;
    width: 723px;
    height: 400px;
    background-color: #121725;
    z-index: 2;
}

.container{
    margin-top: 70px;
    background-color: #121725;
    width: 665px;
    height: 300px;
}

.conteudo h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #54E6AF;
    max-width: 700px;
    text-transform: uppercase;
    font-weight: lighter;
}

.conteudo span{
    color: #fff;
}

.conteudo p{
    margin: 15px 0 35px 0;
    max-width: 450px;
    color: #c2cbe5;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5;
}

.img-detalhe{
    position: absolute;
    top: 470px;
    left: 1200px;
}

.emailcheck{
    position: relative;
    display: inline-block;
}

.emailcheck input[type="email"]{
    width: 420px;
}

.check{
    height: 46px;
    font-size: 16px;
    padding: 15px 15px 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #2c344b;
    color:#5a668a;
    width: 300px;
}

.btn{
    position: absolute;
    left: 260px;
    top: 4px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #54E6AF;
    color: #121725;
    cursor: pointer;
}


.icons{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.icons img{
    max-width: 100px;
    margin-right: 30px;
}


